{% extends 'base.html' %}

{% block content %}
<div class="drop-files">
    <h1><i class="fa-solid fa-image"></i> __ Nos prédictions</h1>
    <hr>
    <div class="texte">
        <table class="styled-table">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>XRay Class ID</th>
                    <th>Detected XRay Class</th>
                </tr>
            </thead>
            <tbody>
            {% for file, num, classe in filename %}                        
            <tr>
                <td>
                    <img src="{{ url_for('static', filename='uploads/{}'.format(file)) }}" /> 
                </td>
                <td>
                    {{ num }}
                </td>
                <td>
                    {{ classe }}
                </td>
            </tr>                        
            {% endfor %}
            </tbody>
        </table>
    </div>                 
</div>
{% endblock %} 
